@media only screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  .check-details__title {
    margin: 40px 0;
    letter-spacing: -1px;
    font: 300 24px open-sans;
    line-height: 68px;
  }
  .fully-responsive {
    height: 680px;
  }
  .toggle-img__last {
    position: absolute;
    top: 104px;
    left: -2px;
    width: calc(298px - 20%);
    height: calc(182px - 20%);
  }
  .img-active {
    top: 90px;
    left: 124px;
    width: calc(395px - 20%);
    height: calc(240px - 70%);

  }
  .toggle-img--size {
    width: calc(395px - 20%);
    height: calc(240px - 20%);
  }
  .toggle-img {
    &__first:before {
      content: "";
      position: absolute;
      z-index: -2;
      left: 75px;
      bottom: -1px;
      width: 50%;
      height: 11%;

      max-width: 20px;
      max-height: 30px;
      box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
      transform: skew(50deg);
      transform-origin: 0 100%;
    }
    &__first:after {
      content: "";
      position: absolute;
      z-index: -2;
      left: 47px;
      bottom: 23px;
      width: 50%;
      height: 95%;
      max-width: 100px;
      max-height: 162px;
      box-shadow: -80px 0 8px rgba(0, 0, 0, 0.3);
      transform: skew(-7deg);
      transform-origin: 0 100%;
    }
  }
  .flexible-solution {
    height: 460px;
    background: #1290ce;
  }
  .horizontal-slider {
    .text-slider {
      width: 500px;
      margin: 0;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {

}
  @media only screen and (max-width: 992px) {
    .toggle-menu {
      display: none;
    }

    .menu-1 li {
      display: block;
    }
    .next-icon {
      height: 438px;
    }
    .check-details__title {
      margin: 30px 0;
      font: 300 18px open-sans;
    }
    .check-details__button {
      width: 150px;
      height: 40px;
    }
    .fully-responsive {
      height: 1000px;
    }
    .flexible-wrapper {
      margin-top: 300px;
    }
    .img-active {
      top: 90px;
      left: 280px;
      width: calc(395px - 20%);
      height: calc(240px - 70%);
    }
    .toggle-img__footer {
      bottom: -310px;
      left: 120px;
    }
    .toggle-img__last {
      top: 104px;
      left: 150px;
      width: calc(298px - 12%);
      height: calc(182px - 20%);
    }
    .flexible-solution {
      height: 760px;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width: 768px) {
    html {
      font-size: 14px;
    }
    .phone{
      font-size: .8rem;
    }
    .top-footer .text {
      font-size: .95rem;
    }
    .container{
      width: 100%;
    }
    .top-nav {
      flex-flow: column;
      align-items: center;
      justify-content: space-around;
    }
    .header {
      height: 100px;
    }
    .site {
      margin-top: 5px;
      margin-bottom: 10px;
    }
    .bloc-logo {
      margin-top: 40px;
    }
    .menu-1 {
      display: none;
      position: absolute;
      top: 0;
      left: 25px;

      & > li{
        background: #99c0d0;
        padding: 10px 15px;
        z-index: 6;
      }
      .menu-2 {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 35;
      }
    }
    .toggle-menu {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    /*  .slider__text {
        left: calc(50% - 190px);
      }*/
    .slider__text-signicher {
      font: 900 2rem bold-open-sans;
    }
    .slider__text-footer {
      font-size: .6rem;
    }
    .next-icon {
      height: 460px;
    }
    .check-details {
      flex-flow: column;
      align-items: center;
    }
    .details__title {
      margin: 15px 0;
      font: 300 14px open-sans;
    }
    .check-details__button {
      margin-bottom: 10px;
    }

    .post {
      margin-bottom: 39px;
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    .post__date {
      flex-flow: row nowrap;
      justify-content: center;
    }
    .post__date {
      width: 100%;
    }
    .post__img--size {
      margin: 10px;
    }
    .post__message {
      margin-top: 30px;
    }
    .fully-responsive {
      height: 1200px;
    }
    .toggle-img__footer {
      display: none;
    }
    .img-active, .toggle-img--size {
      /* left: 60px;*/
      position: static;
      margin: auto;
      width: 300px;
      height: 200px;
    }
    .toggle-img {
      &__first:before {
        content: "";
        display: none;

      }
      &__first:after {
        content: "";
        display: none;
      }
    }
    .toggle-img__last {
      width: 300px;
      height: 200px;
    }
    .toggle-img__last {
      position: static;
      display: block;
      margin: 25px auto;
    }
    .flexible-wrapper {
      margin-top: 420px;
    }
    .flexible-solution {
      height: 960px;
    }
    .flexible-wrapper {
      margin-top: 0;
    }
    .post__crams, .accordion__title, .people-say__title {
      text-align: center;
    }
    .our-team {
      .wrapper {
        margin-top: 25px;
      }
      height: 740px;
      &_figure {

        p {
          width: 120px;
          height: 110px;
        }
      }
    }
    .brand {

      &-img {
        max-height: 50px;
      }
    }
    .horizontal-slider {

      .text-slider {
        width: 400px;
        margin-left: 24px;
      }
      .navigation-slider {
        width: auto;

      }
    }
    .top-footer {
      height: calc(590px - 54px);
    }
    .post__calendar {
      padding-right: 5px;
      line-height: .6;
      font-size: 13px;
    }
    .post__calendar-text{
      margin: 0 5px 0 0;
    }
    .post__icon{
      margin: 0 5px 0 0;
      font-size: 1rem;
    }

    .post__date{
      order: 2;
      padding: 20px 0 0 0;
    }
    .post__img {
      order: 1;
    }
    .post__message {
      order: 3;
      margin-top: 16px;
    }
    .recent-posts__title {
      margin: 25px 0 15px 0;
      text-align: center;
    }
  }

  @media only screen and (max-width: 736px) {
    .fully-responsive {
      height: 1500px;
    }
    .our-team {
      .wrapper {
        margin-top: 25px;
      }
      height: 800px;
      &_figure {

        p {
          width: 120px;
          height: 110px;
        }
      }
    }
  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 480px) {
    html {
      font-size: 13px;
    }
    .fully-responsive {
      height: 1600px;
    }
    .slider__text-footer {
      font-size: 6px;
    }
    .recent-project {
      height: 190px;
    }
    .accordion__title {
      text-align: center;
    }
    .flexible-solution {
      height: 1060px;
    }
    .our-team {
      .wrapper {
        margin-top: 25px;
      }
      height: 1525px;
      &_figure {

        p {
          width: 150px;
          height: 140px;
        }
      }
      & .social {
        margin-top: 23px;

        & .site {
          width: 80%;

          & li {
            list-style-type: none;
          }
        }
      }
      figcaption {
        font-size: 1.7rem;

        span {
          line-height: 1.2rem;
          font-size: 1rem;
          display: list-item;
          padding-top: 13px;
        }
      }
      .descriptions {
        font-size: 1.2rem;
        max-width: 90%;
      }
      .icon {
        font-size: 1.4rem;
      }
    }

    .horizontal-slider {
      height: 80px;
      .icon-slider {
        height: 80px;
        width: 80px;
      }
      .icon-slider::after {
        content: '';
        position: absolute;
        right: -16px;
        top: 11px;
        border: 8px solid transparent;
        border-left: 8px solid rgba(255, 255, 255, 0.12);
        border-top: 8px solid rgba(255, 255, 255, 0.12);
      }
      .text-slider {
        width: 200px;
        margin: 0;

        p {
          font-size: .8rem;
        }

        .mark-two {
          font-size: .4rem;
        }
      }
      .icon {
        font-size: 2rem;
      }
    }
    .top-footer{
      height: calc(370px - 54px);

      & .wrapper{
        margin-top: 10px;
      }
      .bloc-logo {
        margin-top: 10px;
        justify-content: center;
      }
      .text{
        text-align: justify;
      }
      h2{
        text-align: center;
      }
      .contact-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .contact-list > li{
        display: block;
      }
      .contact-list li.contact-email{
        display: none;
      }
    }
  }
  @media only screen and (max-width: 414px) {

  }
  @media only screen and (max-width: 412px) {

  }
  @media only screen and (max-width: 360px) {
    .our-team {
      .wrapper {
        margin-top: 25px;
      }
      height: 1600px;
    }
    .horizontal-slider {
      height: 80px;
      .icon-slider {
        height: 80px;
        width: 70px;
      }

      .text-slider {
        width: 150px;
        margin: 0;

        p {
          font-size: .7rem;
        }
      }

      .mark-two {
        font-size: .5rem;
      }
      .icon {
        font-size: 2rem;
      }
    }
    .top-footer{
      height: calc(370px - 54px);

      & .wrapper{
        margin-top: 10px;
      }
      .bloc-logo {
        margin-top: 10px;
        justify-content: center;
      }
      .text{
        text-align: justify;
      }
      h2{
        text-align: center;
      }
      .contact-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .contact-list > li{
        display: block;
      }
    }
  }

  /* Custom, iPhone Retina */
  @media only screen and (max-width: 320px) {
    html {
      font-size: 10px;
    }
    .slider__text-footer {
      font-size: 6px;
    }
    .phone {
      font-size: 1rem;
    }
    .site a {
      padding-right: .7rem;
    }
    .recent-project {
      height: 200px;
    }
    .flexible-solution {
      height: 1090px;
    }
    .toggle-img--size, .img-active, .toggle-img__last {
      width: 270px;
      height: 170px;
    }
    .our-team {
      .wrapper {
        margin-top: 25px;
      }
      height: 1480px;
      &_figure {

        p {
          width: 150px;
          height: 140px;
        }
      }
      & .social {
        margin-top: 23px;

        & .site {
          width: 80%;

          & li {
            list-style-type: none;
          }
        }
      }
      figcaption {
        font-size: 1.7rem;

        span {
          line-height: 1.2rem;
          font-size: 1rem;
          display: list-item;
          padding-top: 13px;
        }
      }
      .descriptions {
        font-size: 1.2rem;
        max-width: 90%;
      }
      .icon {
        font-size: 1.4rem;
      }
    }
    .top-footer{
      height: calc(310px - 54px);
    }

  }
